@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
@model ETicaret.ViewModels.MagazaMenuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h4>Hoşgeldin Magaza</h4>


<div class="row">
    <div class="nav flex-column nav-pills col-lg-2 mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active"  asp-action="Index" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Profil</a>
        <a class="nav-link" asp-action="Yorumlar" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Magaza Yorumları</a>
        <a class="nav-link" id="v-pills-settings-tab" asp-action="Menu" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Menü Güncelle</a>
        <a class="nav-link" id="v-pills-settings-tab" asp-action="Bilgiler" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID" >Bilgilerini Güncelle</a>
    </div>
    <div class="col-lg-10">
        <!-- Swiper -->
        <img class="m-3 w-100" src="~/images/@Model.Magaza.FotoGenel2" width="1150" height="300" />
    </div>
</div>
<!--//END BOOKING -->
<!--============================= RESERVE A SEAT =============================-->
<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h5>@Model.Magaza.MagazaAdi</h5>
                <h5 class="text-danger">@Model.MagazaTur</h5>
                <h5 class="text-danger ml-3">@Model.Il.Ilismi</h5>
            </div>
            <div class="col-md-6">
                
                <div class="reserve-seat-block">
                    <h5 class="text text-success">Magazanızın Ortalama Puanı</h5>
                    <div class="reserve-rating">
                        <span>@Model.MagazaOrt</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END RESERVE A SEAT -->
<!--============================= BOOKING DETAILS =============================-->
<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="booking-checkbox">
                        <p>@Model.Magaza.MagazaTanitim</p>

                        <hr>
                    </div>
                    <div class="row">

                        @foreach (var item in Model.MagazaOzellik)
                        {

                            <div class="col-md-3">
                                <label class="custom-checkbox">
                                    <img src="~/images/tik.png" width="20" height="20" />
                                    <span class="custom-control-description"><p>@item</p></span>
                                </label>
                            </div>

                        }

                    </div>
                </div>
                <a name="Yer"></a>
            </div>



            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin-2.min.js"></script>
            <div class="col-md-4 responsive-wrap">
                <div class="contact-info">
                    <img src="~/images/@Model.Magaza.FotoGenel" class="img-fluid" alt="#">
                    <div class="address">
                        <span class="icon-location-pin"></span>
                        <p><br><br>Adres: @Model.Magaza.MagazaAdres <br></p>
                    </div>
                    <div class="address">
                        <span class="icon-screen-desktop"></span>
                        <p>Tel: @Model.Magaza.MagazaTel</p>
                    </div>
                    <div class="address">
                        <span class="icon-link"></span>
                        <p>Mail: @Model.Magaza.MagazaMail</p>
                    </div>
                    <div class="address">
                        <span class="icon-clock"></span>
                        <p>
                            09:30 - 00:30 <br>

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
