@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ETicaret.ViewModels.MagazaMenuViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Menu</h4>
<h2>Menu</h2>
<div class="row">
    <div class="nav flex-column nav-pills col-lg-2 mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link " asp-action="Index" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Profil</a>
        <a class="nav-link" asp-action="Yorumlar" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Magaza Yorumları</a>
        <a class="nav-link active" id="v-pills-settings-tab" asp-action="Menu" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Menü Güncelle</a>
        <a class="nav-link" id="v-pills-settings-tab" asp-action="Bilgiler" asp-controller="Magaza" asp-route-id="@Model.Magaza.UserID">Bilgilerini Güncelle</a>
    </div>
    <div class="col-lg-10">
        <!-- Swiper -->
        <img class="m-3 w-100" src="~/images/@Model.Magaza.FotoGenel2" width="1150" height="300" />
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">İsim</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Tür</th>
            <th scope="col">Fiyat</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Menu)
        {
            <tr>
                <td>@item.Isim</td>
                <td>@item.Aciklama</td>
                <td>@item.Tur</td>
                <td>
                    @item.Fiyat

                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Sil" asp-controller="Magaza" asp-route-id="@item.Id">Sil</a>
                    <a class="btn btn-dark " asp-action="MenuGuncelle" asp-controller="Magaza" asp-route-id="@item.Id">Güncelle</a>
                </td>

            </tr>
        }


    </tbody>
</table>
@{var user = await UserManager.FindByNameAsync(User.Identity.Name);
    var b = user.Id;
    Model.MagazaID = b;    }
<h3 class="font-weight-bold text-center mt-4">Yeni Ürün Ekle</h3>
<form class="user" method="post">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0 ">
            <input asp-for="Isim" class="form-control form-control-user" placeholder="Ürün" />
        </div>
        <div class="input-group  col-sm-6 mb-3 mb-sm-0">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Puan</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" asp-for="Tur">
                <option value="Yiyecek">Yiyecek</option>
                <option value="İçecek">İçecek</option>
                <option value="Tatlı">Tatlı</option>
            </select>
        </div>

    </div>
    <div class="form-group col-sm-6 m-3 mb-sm-0 row ">
        <input asp-for="Fiyat" class="form-control form-control-user" placeholder="Fiyat" />
    </div>
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend ">
            <span class="input-group-text">Açıklama</span>
        </div>
        <textarea asp-for="Aciklama" class="form-control" aria-label="Açıklama..."></textarea>
    </div>
    <input type="hidden" asp-for="MagazaID" />
    <div class="form-group">

        <input type="submit" class="btn btn-outline-danger btn-contact input-group" asp-action="MenuEkle" asp-controller="Magaza" value="Ekle" />
    </div>
    <hr>
</form>