@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
@model ETicaret.ViewModels.MagazaMenuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h4>Hoşgeldin Magaza</h4>
@{var user = await userManager.FindByNameAsync(User.Identity.Name);
    var idd = user.Id; }
<div class="row">
    <div class="nav flex-column nav-pills col-lg-2 mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link " asp-action="Index" asp-controller="Magaza" asp-route-id="@idd">Profil</a>
        <a class="nav-link active" asp-action="Yorumlar" asp-controller="Magaza" asp-route-id="@idd">Magaza Yorumları</a>
        <a class="nav-link" id="v-pills-settings-tab" asp-action="Menu" asp-controller="Magaza" asp-route-id="@idd">Menü Güncelle</a>
        <a class="nav-link" id="v-pills-settings-tab" asp-action="Bilgiler" asp-controller="Magaza" role="tab" aria-controls="v-pills-settings" aria-selected="false">Bilgilerini Güncelle</a>
    </div>
    <div class="col-lg-10">
        @foreach (var item in Model.Yorumlar)
        {
            <div class="customer-review_wrap">
                <div class="customer-img">
                    <img src="~/images/Adsız.jpg" class="img-fluid" alt="#">
                    <p></p>

                </div>
                <div class="customer-content-wrap">
                    <div class="customer-content">
                        <div class="customer-review">
                            <h6>@item.Baslik</h6>
                            @for (int i = 0; i < item.Puan; i++)
                            {
                                <span></span>
                            }

                            @for (int i = 0; i < 5 - item.Puan; i++)
                            {
                                <span class="round-icon-blank"></span>
                            }


                        </div>
                        <div class="customer-rating">@item.Puan</div>
                    </div>
                    <p class="customer-text">
                        @item.YorumIcerik
                    </p>

                </div>
            </div>
            <hr>
        }
    </div>
</div>

